{% include 'admin_header.html' %}

<h1><u><b>VIEW DONORS</b></u></h1>
	<form>
		<table class="table" style="width:500px">
			<tr>
				<th>Sno</th>
				<th>NAME</th>
				
				<th>AGE</th>
				<th>BLOOD GROUP</th>
				<th>PHONE</th>
				<th>EMAIL</th>
			</tr>
			{% for row in data['res']%}
			<tr>
				<td>{{loop.index}}</td>
				<td>{{row['first_name']}}{{row['last_name']}}</td>
				
				<td>{{row['age']}}</td>
				<td>{{row['group']}}</td>
				<td>{{row['phone']}}</td>
				<td>{{row['email']}}</td>
				
			</tr>
			{% endfor %}


			<td><a href="admin_viewreceiver" class="btn btn-warning">RECEIVERS</a></td>
		</table>
		
	</form>
</center>
{% include 'footer.html' %}