

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>E-Blood</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <!-- <link href="/static/img/favicon.png" rel="icon"> -->
  <!-- <link href="/static/img/apple-touch-icon.png" rel="apple-touch-icon"> -->

  <!-- Bootstrap CSS File -->
  <link href="/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="/static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/static/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="/static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/static/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="/static/css/style.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: DevFolio
    Theme URL: https://bootstrapmade.com/devfolio-bootstrap-portfolio-html-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body id="page-top" style="height:100px;">

  <!--/ Nav Star /-->
  <nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav" style="height:100px;">
    <div class="container" style="height:100px;">
      <a class="navbar-brand js-scroll" href="hospital_home" style="color: black">E-Blood </a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
        aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
        <ul class="navbar-nav" style="width: 800px;">
          <li class="nav-item">
            <a class="nav-link js-scroll active" href="hospital_home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="hospital_View_Request_for_Blood">REQUEST FOR BLOOD</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="hospital_Add_available_Bloods">UPDATE STOCK</a>
          </li>
         <!--  <li class="nav-item">
            <a class="nav-link js-scroll" href="admin_View_Hospitals">HOSPITAL</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="admin_View_Organization">ORGANIZATION</a>
          </li> -->
           <!-- <li class="nav-item">
            <a class="nav-link js-scroll" href="admin_View_requests">REQUEST</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="admin_View_hospitals_collection_report">COLLECTION REPORT</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link js-scroll" href="/login">LOGOUT</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!--/ Nav End /-->

  <!--/ Intro Skew Star /-->
  <div  class="intro" style="background-image: url(/static/img/bbh.jpg); background-attachment: fixed; height: 1000px;background-size: cover;background-position: center;">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <!--<p class="display-6 color-d">Hello, world!</p>-->
        
  <!--/ Intro Skew End /-->
