{% include 'organization_header.html' %}
 <h1 ><b style="color:#fff;">"Donate your blood for a reason, let the reason to be life"</b></h1>
          <p class="intro-subtitle">Spare only 15 minutes and save one life</p>
       <span style="font-size: 22px;font-weight: 100;font-family: serif;"> <p>Heroes come in all types and sizes</p>
        <p>Anybody can save lives </p>
        <p>Starve a vampire donate blood </p>
      </span>
          	<!-- <strong class="text-slider"></strong></p> -->
          <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
 
{% include 'footer.html' %}